body{
	background-color:#eee;
	font-family: 'trebuchet ms',helvetica,sans-serif; 
	font-size: 15px;
	color: #777;
    margin:50px;
    min-height:500px;
    position:relative;
}
table{
	cellspacing:20px;
}
th{
	text-align:left;
	font-size : large;
	padding-left:15px;
}
td{
	vertical-align: top;
}	
td .small{
	font-size:x-small;
	margin-left:10px;
}
h1{
   	color: #AA2808;
   	text-align:left;
   	margin-left:300px;
}

h2 span{
	font-size:small;
}
.side-links{
	float:right;
	margin-right:250px;	
}
a{
    text-decoration:none;
}
.form ul, li{
    list-style:none;    
}
.form .errorlist{
    font-size:10px;
    color:red;
    text-align:left;
    line-height:10px;
    margin:0px;
    padding:0px;
}
.flash{
    color:green;
}
.page{
    min-height:500px;
}
footer{
	position:absolute;
	bottom:-50px;
	left:10%;
    width:80%;
    text-align:center;
    
}

footer p{
    font-size: 14px;
}
