{% extends 'layout.html' %}
{% load cache %}
{% block content_heading %}Problems:{% endblock %}
{% block content %}
<div class="entry">
    <table style="min-width:400px;">
    {% for p in problems %}
        <tr><td><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></td><td>{% if p.is_solved %}<span style = "color:green;">(Solved)</span>{% endif %}</td></tr>
    {% empty %}
        No problems are available.
    {% endfor %}
    </table> 
</div>
{% endblock %}
{% block sidebar %}
{% cache 10 sidebar_contest_index %}
<div id="sidebar">
    <center><h1>Your stats:</h1></center>
    Total Marks: <b>{{ total_marks }}</b>
    <center><h1>Recent Activity</h1></center>
    <table>
    	<thead>
    		<tr>
    			<th>Team</th><th>Problem</th><th>Lang</th><th>Status</th><th></th>
    		</tr>
    	</thead>
    	<tbody>
  		{% for submission in submissions %}
    		<tr>
    			<td>{{ submission.user|title }}</td><td><a href="{{ submission.problem.get_absolute_url }}">{{ submission.problem|truncatewords:2}}</a></td><td>{{ submission.language|title }}</td><td>{{ submission.status }}</td><td>{{ submission.time|timesince }} ago</td>
    		</tr>
    	{% endfor %}
    	</tbody>
    </table>    
</div>
{% endcache %}
{% endblock %}
