{% extends 'layout.html' %}
{% block content_heading %}Overnite Team{% endblock %}
{% block content %}
<div class = "widen" style="position:relative; left:-20px;">
<div id="contentBlock" style="display: block; "><div class="item mainItem">
        <h2>Credits</h2><br>
        <!-- <p class="info"><span class="date">01. 01. 2008</span> - <a href="">article tag</a> - <a href="">18 comments</a></p> -->
        <div class="perex">
			<div>
				<table>
					<tbody><tr>
						<td style="border:0;width:45%"><b style="font-size:14px;">Saurav Poddar<br>Event Head</b><br>
							Email: saurav.poddar@ktj.in<br>
							Ph:+91 9775194598
						</td>
						<td style="border:0;width:45%"><b style="font-size:14px;">Aayush Agarwal<br>Event Head</b><br>
							Email: aayush.agarwal@ktj.in<br>
							Ph:+91 9755790802
						</td>
					</tr>
					<tr>
						<td style="border:0;width:45%"><b style="font-size:14px;">Ananth<br>Web Team Member</b><br>
							Email: ananth@ktj.in<br>
							Ph:+91 9749935419
						</td>
						<td style="border:0;width:45%">&nbsp;
						</td>
					</tr>
				</tbody></table>
</div>

		</div>
      </div>

<div class="item mainItem">
        <h2>Overnite Team</h2><br>
        <!-- <p class="info"><span class="date">01. 01. 2008</span> - <a href="">article tag</a> - <a href="">18 comments</a></p> -->
        <div class="perex">
			<div>
				<table>
					<tbody><tr>
						<td style="border:0;width:45%"><b style="font-size:14px;">Pankaj Singh</b><br>
							Email: contact@iampankaj.in<br>
							Ph:+91 8001231685
						</td>
						<td style="border:0;width:45%"><b style="font-size:14px;">Radhika Mittal</b><br>
							Email: radhikamittal.iitkgp@gmail.com<br>
						</td>

					</tr>
					<tr>
						<td style="border:0;width:45%"><b style="font-size:14px;">Rahul Chatterjee</b><br>
							Email: rahuliitkgp08@gmail.com<br>
							Ph:+91 9735325386
						</td>
						<td style="border:0;width:45%"><b style="font-size:14px;">Rohan Jain</b><br>
							Email: m@rohanjain.in<br>
							Ph:+91 9775287007
						</td>
					</tr>
					<tr>
						<td style="border:0;width:45%"><b style="font-size:14px;">Soumyakanti Mandal</b><br>
							Email: soumyaprl.iitkgp@gmail.com<br>
							Ph:+91 9735317669
						</td>
						<td style="border:0;width:45%"><b style="font-size:14px;">Anurag Kyal</b><br>
							Email: anuragkyal2008@gmail.com<br>
						</td>
					</tr>
				</tbody></table>
</div>

		</div>
      </div>
</div>
</div>
{% endblock %}
{% block sidebar %}{% endblock %} 
