{% extends 'layout.html' %}
{% block content_heading %}Overnite Home{% endblock %}
{% block content %}
<div class = "widen">
<p>When the rest of this part of the world retreats to the luring comfort of their beds we beckon you to
 recharge your gray cells and join us in the quest for that competent programmer. Overnite is a coding 
 competition in C, C++ and Java. With one night to crack the mind storming challenges in C, C++ and Java, 
 Overnite tests your endurance and perseverance. The event is certified by ACM, the world's largest and 
 oldest scientific and educational computing society which develops resources that advance computing as 
 a science and profession and hence, turns out to be a big draw for programmers across the world. The 
 multiprovincial programming contest that the society certifies is, thus, looked up to with utmost 
 reverence in the community of coding enthusiasts.</p>
<p>Held primarily in two rounds, the event is on-the-spot with a semi-objective test as preliminary 
on the basis of which 50 teams make it to the final round. The event, however, commences three months 
prior to the fest in the form of an online round which gives us our wild card entrants.
(seven teams from the country and three teams from abroad).</p>
<p>When the finals of "overnite" would be staged on 30th January at Kharagpur.The programming genius' are expected to leave no stone unturned to crack the code in the course of a single challenging night with their dexterity in C,C++ and java ;and patience to stand the heat of competition as their only companions. The event, this year, pridefully associates itself with the software giant, Adobe. In the light of the sweeping success of "overnite" in the previous edition of Kshitij, we endeavor to make it a bigger success in 2010. The event turns out to be a big draw for programmers across the world.</p>
</div>
{% endblock %}
{% block sidebar %}{% endblock %}
