{% extends 'layout.html' %}
{% block head %}
<style type="text/css">
</style>
{% endblock %}
{% block content_heading %}Introduction{% endblock %}
{% block content %}
<div class = "widen">
<h4><center>Welcome to the Online Prelims round of ACM-ICPC Overnite '11 Multi-Provincial Programming Contest.</center></h4><br>
<p class="perex">
When the rest of this part of the world retreats to the luring comfort of their beds we beckon you to recharge your gray cells and join us in the quest for that competent programmer. Prove yourself in the test of not only skills, but also endurance and perseverance as you make your way through a series of problems equipped with C, C++ and Java as your tools and a single night at your disposal. So set your adrenaline pumping and join the race.
<br><br>
Total prize money worth Rs.45,000.</b>
</p>
</div>
{% endblock %}
{% block sidebar %}{% endblock %}
