<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}Submission with Celery{% endblock %}</title>
		{% block head %}{% endblock %}
    <link rel='stylesheet' href='/media/css/style.css' type = 'text/css'>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
</head>
<body>
	<header></header>
    <article>
        <h2>{% block content_heading %}{% endblock %}</h2>
        {% block content %}{% endblock %}
    </article>
    <aside></aside>
    <footer>
        {% block footer %}<a href = "/admin" target = "_blank" >Admin</a> | <a href = "#" target = "_blank">Sitemap</a>{% endblock %}
    </footer>     
</body>
</html>
